Repository AadeshThoppae/AI-Learning-Companion, pull requests merged in 2025-10, with the labels that each got.

#13 Skeleton Front end, Backend connection implmentation
  backend/src/main/java/com/aadeshandreas/ailearning/ai_learning_companion/controller/DocumentController.java
  backend/src/main/java/com/aadeshandreas/ailearning/ai_learning_companion/model/DocumentText.java
  backend/src/main/java/com/aadeshandreas/ailearning/ai_learning_companion/service/DocumentService.java
  frontend/src/app/page.tsx
Labels: Frontend, Backend

#15 Updated Readme file to include general project information and AI tool usage
  README.md
Labels: documentation

#17 Implemented UI for showing and playing the generated Quiz
  backend/src/main/java/com/aadeshandreas/ailearning/ai_learning_companion/model/Question.java
  backend/src/main/java/com/aadeshandreas/ailearning/ai_learning_companion/repository/DocumentRepository.java
  backend/src/main/java/com/aadeshandreas/ailearning/ai_learning_companion/repository/FlashcardRepository.java
  backend/src/main/java/com/aadeshandreas/ailearning/ai_learning_companion/repository/SummaryRepository.java
  frontend/src/app/page.tsx
  frontend/src/components/Quiz.tsx
  frontend/src/components/tabs/FlashcardTab.tsx
  frontend/src/components/tabs/QuizTab.tsx
  frontend/src/components/tabs/SummaryTab.tsx
  frontend/src/components/tabs/UploadTab.tsx
  frontend/src/services/documentService.ts
  frontend/src/types/documentTypes.ts
Labels: Frontend
